body {
  height: 100vh;
  background: linear-gradient(to bottom, #142b57, #184590 35%, #1361e2 100%);
  background-repeat: no-repeat;
  background-attachment: fixed; /* opcional: para que no se mueva al hacer scroll */
  background-size: cover; /* opcional: para que cubra toda la pantalla */
  margin: 0;
}
.navbar {
  position: fixed;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  width: 100%;
  z-index: 1000;
  background-color: rgba(164, 79, 79, 0.1); /* blanco con opacidad */
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  height: 70px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-links li a:hover {
  color: #00bcd4;
}
p {
  color: white;
}
h2 {
  color: #8ed2ff !important;
}
h1 {
  color: #08bdb4 !important;
}
.card-text {
  color: black;
}

.card {
  display: flex;
  align-items: center;
  width: 300px;
  margin-left: 40px;
}
.card-body {
  display: block;
  align-items: center;
}
.card-img-top {
  width: 100px;
}
.img-custom {
  max-width: 300px;
}
.perfil {
  max-width: 200px !important;
}

.cargo,
.titulo {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #142c57;
}
.card {
  background-color: #0077be !important;
}
form {
  background-color: #d9eeff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
}
.btn {
  background-color: black !important;
  max-width: 100px !important;
  width: 100px !important;
}
.glitch {
  position: relative;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 0 rgb(255, 255, 255), -2px -2px 0 rgb(0, 0, 0);
  animation: glitch 4s infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px 0 rgb(78, 0, 97), -2px -2px 0 rgb(0, 0, 0);
  }
  20% {
    text-shadow: -2px -2px 0 rgb(78, 0, 97), 2px 2px 0 rgb(0, 0, 0);
  }
  40% {
    text-shadow: 3px -3px 0 rgb(78, 0, 97), -3px 3px 0 rgb(0, 0, 0);
  }
  60% {
    text-shadow: -3px 3px 0 rgb(78, 0, 97), 3px -3px 0 rgb(0, 0, 0);
  }
  80% {
    text-shadow: 4px 4px 0 rgb(78, 0, 97), -4px -4px 0 rgb(0, 0, 0);
  }
  100% {
    text-shadow: -4px -4px 0 rgb(78, 0, 97), 4px 4px 0 rgb(0, 0, 0);
  }
}
